# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#folders
x64/
Debug/
networking/logs/
.vs/
_Project/Debug/
_Project/.vs/
_Project/Release/
_Server/Debug/
_Server/.vs/
.vscode/
*.log
*.tlog
*.pdb
*.ilk
*.lastbuildstate
.vscode/c_cpp_properties.json
